@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1616234294619'); /* IE9 */
  src: url('iconfont.eot?t=1616234294619#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAKEAAsAAAAABjAAAAI6AAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAo0VwE2AiQDCAsGAAQgBYRtBzcbhAUR1Ysjsj9BNmQDrf4AkM7a6oOpdCqpt75T4aKCwcH8FyCwChIAAAAAIIJqv8+e3X3/9ggVoro6z0FUiIqFQpW4CBkZIRNhIhzYsNC/JngSkPk/69GBNjdjuL4xEYolOQ9+67aksNNL86tPUX9M56kdQABk5p5NflXPV8OQT9w7/aOA0jEfUI570RqDBlAXBxToHhhFVkIZN4xd8AIfE+gyaV3sN8fPqwp7VSAe7Xevq4WAorB0FVoNB4t4r1HT2xTeRd+PvzaikjSZXXX6zoFbtn9ysrK2SwEhSEDHG2SsoxDnGxMnZcFYWVeimOVY5cFP7QO7OKpFsL/OLu0B41D6TDJvpQAJHks6cHhs0u1Ez4vh4vI4rMzj2jR/nBifvCqbrW0/S19SUSD4oPVXXwV8+yJzMcxFXd8Z/AfZwIFiKGxbKpqscTzp2X9bly60sWfIj6nG0ZNmQjU6wdVhIkNWzZOFuY5Gt020VFvosubQ8W7DHsuidGLVS4Aw4BOSPp+RDfhKFuZ3NMb8R8tAZHS5GC7sthjkrjJqwQXMH3ZLj3MdouLyDtf3pTmviPgTctjDUGZFOd3ig7zElvBZKxEHjumGBjyH10XgmQ60km0ivs5z1/SmzNIdqSijFlzA/GG39LhgsqjK5ztc35fmjr665IQc9tmhzIoBZKt9BvU9yivhs1YiDhzTDQ2Yh9dF4JvnHWgl2ybEfJ07o9xQbba9/v67U9AV2aYUO1VpZKdgL68O8fbyjyI=') format('woff2'),
  url('iconfont.woff?t=1616234294619') format('woff'),
  url('iconfont.ttf?t=1616234294619') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1616234294619#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ioscloseempty:before {
  content: "\e799";
}

