.DS_Store
node_modules/
unpackage/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/test/unit/coverage/
pages/demo
pages/demo1

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
.hbuilderx
config/config.js
ganfanzu.zip