const env = {
    // 是否开启debug
    debug: true,
    // 多麦
    duomai : {
        'host': 'https://open.duomai.com/apis',
        'appkey': '',
        'appSecret': ''
    },
    ganFanApi : 'https://xxx',

}

export default env
