const env = {
    appName: '干饭组',

    // 是否开启debug
    debug: true,

    version: 'Version 1.0.0',

    noticeKey: 'ganfanzu_collect_key_2021',

    ganFanApi : 'https://www.litblc.com',

    subkey: '',

    // 优惠券领取通知 1891
    subscribe: '',
}

export default env
